global
  daemon
  log stdout format raw local0

defaults
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms
  log global
  mode http

frontend main
  bind *:7080
  mode http

  # 根据 WebSocket 路径分发
  acl is_vless  path_beg /vless
  acl is_vmess  path_beg /vmess
  acl is_trojan path_beg /trojan

  use_backend sing_vless  if is_vless
  use_backend sing_vmess  if is_vmess
  use_backend sing_trojan if is_trojan
  default_backend subscribe

backend sing_vless
  mode http
  server vless 127.0.0.1:8080

backend sing_vmess
  mode http
  server vmess 127.0.0.1:8081

backend sing_trojan
  mode http
  server trojan 127.0.0.1:8082

backend subscribe
  mode http
  server sub 127.0.0.1:8088
